body {
  background-color: #43c4f4 !important;
  width: 50em;
}

.header {
  color: white;
  font-size: 19px;
  font-style: italic;
  margin-bottom: 10px;
}

.second {
  padding-left: 20px;
  padding-bottom: 20px;
}

.field {
  margin-bottom: 10px !important;
}

.alertify-notifier {
  top: 80%;
  left: 30% !important;
  margin: auto;
}